.navbar .container { width: 960px; }
.page2 { display:none; }
.toolbox div { float:left; }
tbody tr:hover { background:#fff9b1; }
tr:hover .toolbox { display:block; }
.editForm { padding:10px; background:#135a93; }
.formDiv { background: white; }
.formClose { padding:5px; }
.blueText { color:#145e99; }
.linkC { opacity:0.95; display:none; position:fixed; top:50px; left:48%; padding:10px 20px; background:#62C462; color:#fff; -webkit-border-radius: 5px; -moz-border-radius:5px; border-radius: 5px; }
#interList_filter, #interList_last, #interList_first, #interList_info { float:right; display:none; }
#interList_length { float:left; }
.navbar-inner { -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; border: none; }
.top-nav { margin-bottom:0; }
.black { color:#000000 !important; font-weight:bold; text-shadow:none !important; font-size: 18px; }
.navbar-inverse .nav > li > a { color: #53B1FF; }
#sort thead { background: #e6e6e6; /* Old browsers */  /* IE9 SVG, needs conditional override of 'filter' to 'none' */ background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U2ZTZlNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE0JSIgc3RvcC1jb2xvcj0iI2U1ZTVlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjNmM2YzYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #e6e6e6 0%, #e5e5e5 14%, #c6c6c6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e6e6e6), color-stop(14%, #e5e5e5), color-stop(100%, #c6c6c6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #e6e6e6 0%, #e5e5e5 14%, #c6c6c6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #e6e6e6 0%, #e5e5e5 14%, #c6c6c6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #e6e6e6 0%, #e5e5e5 14%, #c6c6c6 100%); /* IE10+ */
background: linear-gradient(to bottom, #e6e6e6 0%, #e5e5e5 14%, #c6c6c6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#c6c6c6', GradientType=0 ); /* IE6-8 */;}
.footer { height:104px; margin-top:50px; position: relative; border-top: 10px solid #145a95; background: #232323; }
#sort thead tr th { padding:5px; }
.inVal { display:none; }
.toolbox div { padding-left:10px; }
.fnav { margin: 12px 0 0; }
.fnav2 { margin-top:5px; }
.fnav li { list-style-type: none; float: left; margin-left: 20px; }
.fnav li a, .fnav { color: #595959; }
.cancel { margin:5px 0 0 20px; }
.publish { margin: 1px 0 4px 0px; }
.pub-me { border:4px #ffa900 solid; padding: 5px; -webkit-border-radius: 5px; -moz-border-radius:5px; border-radius: 5px; line-height: 14px; width: 138px;}
.ui-sortable-helper {
	border-color: #c7605a; outline: 0; outline: thin dotted 9;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(199, 96, 90, 0.8);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(199, 96, 90, 0.8);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(199, 96, 90, 0.8);
	background: #fff !important; }
#saveEdit { padding:5px; }
[class*="icon"], .minus {
 cursor:pointer;
}
.minus { color:#fff; }
.minus .icon-minus { border:1px solid #fff; }
.minH { min-height: 380px; margin-bottom: 45px; }
/*145e99*/
/*c7605a*/

.paging_full_numbers { float: right; height: 22px; line-height: 22px; }
.paging_full_numbers a:active { outline: none }
.paging_full_numbers a:hover { text-decoration: none; }
.paging_full_numbers a.paginate_button,  .paging_full_numbers a.paginate_active { border: 1px solid #dddddd; padding: 6px 12px; margin: 0 0px; cursor: pointer;  *cursor: hand;}
.paging_full_numbers > a.paginate_button:nth-child(2) { -webkit-border-radius: 5px 0 0 5px; -moz-border-radius: 5px 0 0 5px; }
.paging_full_numbers > a.paginate_button:nth-last-child(2) { -webkit-border-radius:  0 5px 5px 0; -moz-border-radius:  0 5px 5px 0; }
.paging_full_numbers a.paginate_button { }
.paging_full_numbers a.paginate_button:hover { background-color: #f5f5f5; text-decoration: none !important; }
.paging_full_numbers a.paginate_active { background-color: #f5f5f5; }
.right { float: right; }

/* Header */
#header .right-menu { margin-top: 1px;}
#header .right-menu a { background: #333; border-radius: 3px; padding: 1px 5px 1px; margin: 5px 5px; color: white; text-shadow: none; font-weight: bold; font-size: 11px; }
.nav a.logo { background: url(../img/logo.png) no-repeat right; height: 19px; padding-right: 37px !important; letter-spacing: -.1em; font-size: 13px;}
.btn-primary.newInter{  padding: 6px 8px 6px 30px;position: relative;display: block;}

/*Page*/
.int-descrip p {line-height: normal;}
.int-descrip h2 {margin-top: -4px;font-weight: normal; padding-left: 28px;line-height: normal;}
#interList_wrapper, .int-descrip p {padding-left: 45px;padding-right: 78px;}
#interList_wrapper {padding-top: 10px}

/* Select Dropdown */
.dataTables_length > label > select {margin-left: 5px;}

/* Footer */
.copy {-size: 12px; margin-top: 8px; }
.copy .span9, .copy .span3 {margin-left: 0;}
.footer .copy p { position: absolute; bottom: 5px; }
.footer .container {padding-left: 20px;}
.terms { text-align: right }
hr.inset {border-top: 2px solid #131313; border-left: none;height: 0px;border-bottom: 1px solid #595959;opacity: .6;margin: 6px 0 20px;}

/* Sticky footer */
html, body { height: 100%; }
.wrapper { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -172px;/* the bottom margin is the negative value of the footer's height */}
.footer, .push { height: 112px; /* .push must be the same height as .footer */ }

/* Social */
.social { float: right; width: auto; }
.social li { float: left; margin-left: 0px; }
.social a { background: url(../img/social-icons.png) no-repeat; text-indent: -99999px; float: left; height: 15px; width: 14px; margin-right: 3px; display: block; margin-top: 1px; margin-left: 8px; }
.facebook { background-position: -6px 0px !important; }
.twitter { background-position: -57px 0px !important; }
.linkedin { background-position: -31px 0px !important; }
.googleplus { background-position: -82px 0px !important; }
.social a:hover {box-shadow: 0px 0px 3px rgba(250,250,250,.38);}

/* Questions */
#questions { border: none }
#questions .blueText { line-height: 50px; }
#quesionText { width: 420px; }
.nopad { padding: 0 !important }
.question-col { padding-right: 10px !important; vertical-align: middle !important; }
.radio.inline.last {margin-right: 10px;}


/* Cross Browser Support */
.ie10 .icon-plus-sign {top:5px;}
.ie10 .btn-primary.newInter {padding: 8px 8px 6px 30px}